<nav> 
    <ul class="menu">
        <li class="logo">
            <a routerLink="/user-dashboard">
              <img src="../../../assets/image/quiz-icon.jpg" height="45" width="50" alt="Quiz-Logo">
            </a>
          </li>
        <li>User
            <ul class="dropdown">
                <li routerLink="user-profile">My Profile</li>
            </ul>
        </li>
        
        <li> All Quiz
            <ul class="dropdown">
                <li routerLink="list-quiz">List Quiz</li>
            </ul>
        </li>
        <li>Quiz Attempted
            <ul class="dropdown">
                <li routerLink="user-quiz-attempt">List QuizAttempt</li>
                <li></li>
            </ul>
        </li>
        <li routerLink=''> LogOut</li>
    </ul>
</nav>